
<div class="row topspace-lg">
  <div class="col-md-12 text-center">
    <h1>Purchase an item</h1>
  </div>
</div>
<div class="row">

  <% @items.each do |item| %>
    <div class="col-md-4 margin-top-lg">
      <div class="card">
        <div class="text-center">
          <img height=240px src="img/<%= item[:img] %>">
        </div>
        <div class="card-header text-center bg-<%= item[:color] %> text-white">
          <h2><%= item[:name] %></h2>
          production description
          <p class="margin-top-md">
            $<%= sprintf("%.2f",(0.01 * item[:amount])) %>
           <p>
            <a href="/checkout?itemId=<%= item[:id] %>" class="btn btn-lg btn-outline">Checkout</a>
          </p>
        </div>
      </div>
    </div>
  <% end %>

  </div>
